* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

#navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 5rem;
    background-color: rgb(33, 171, 205);
}

#home {
    background-color: rgb(70, 130, 191);
    padding: 1rem;
}

#navigation>a {
    color: white;
    text-decoration: none;
}

#profile {
    padding: 1rem 5rem;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#daily_summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

#daily_summary>h3 {
    background-color: rgb(70, 130, 191);
    color: white;
    padding: 1rem;
}

#calories_remaining {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}

#cal-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#calories {
    font-size: 1.8rem;
}

#summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
}
